<!DOCTYPE html>
<html lang="en">
<head>
<title>공누리</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-amber w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    {% if user.is_authenticated %}
    <h3 class="w3-padding-64"><b>{{user.profile.name}}님 반갑습니다.<br></b></h3>
    <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
    <form id="logout" method="POST" action="{% url 'logout' %}">
    {% csrf_token %} <input type="hidden" />
    {% else %}
    <h3 class="w3-padding-64"><b>공누리<br></b></h3>
    {% endif %}
</form>
  </div>
  <div class="w3-bar-block">
    <a href="{%url 'home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="{%url 'signup' %}" class="w3-bar-item w3-button w3-hover-white">회원가입</a> 
    <a href="{%url 'login' %}" class="w3-bar-item w3-button w3-hover-white">로그인</a> 
    <a href="{%url 'home'%}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">공간대여</a> 
    <a href="{%url 'place' %}" class="w3-bar-item w3-button w3-hover-white">공간등록</a> 
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">마이페이지</a>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
  
{% block content %}

{% endblock %}

</body>
</html>